.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  user-select: none;
}

.viewerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 5;
}

.navigationZone {
  flex: 1;
  cursor: pointer;
  height: 100%;
  touch-action: manipulation;
}

.navigationZone:active {
  opacity: 0.7;
}

.navigationZone:focus {
  outline: none;
}

.leftZone {
  flex-basis: 30%;
}

.rightZone {
  flex-basis: 70%;
}

.storyWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 450px;
  margin: 0 auto;
  background: #000;
}

@media (max-width: 450px) {
  .storyWrapper {
    max-width: 100%;
  }
}